span#mypubkey {
    overflow-wrap: break-word;
}

textarea {
    width: 100%;
    max-width: 100%;
}

select {
    width: 100%;
}

#fromlinkbg {
    font-weight: bold;
    border-radius: 8px;
    padding: 16px;
    background-color: #f2acec;
}

#alicename {
    font-style: italic;
}
